In [1]:
#import dependencies
import pandas as pd
import numpy as np
import glob
import os

In [2]:
#bring in file path
path = r'Resources'
#use glob to read through all files
all_files=glob.glob(path + "/*.csv")
#create empty list to fill with csv data
li =[]
#create for loop to reach through each file and append to li
for filename in all_files:
    bikeDataDf=pd.read_csv(filename, index_col=None, header=0)
    li.append(bikeDataDf)

frame = pd.concat(li, axis=0, ignore_index=True)
frame.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,389,2020-03-01 00:14:07.0000,2020-03-01 00:20:36.0880,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,42381,Subscriber,1992,1
1,242,2020-03-01 00:48:06.4390,2020-03-01 00:52:08.9870,3185,City Hall,40.717733,-74.043845,3205,JC Medical Center,40.716540,-74.049638,42155,Subscriber,1991,1
2,124,2020-03-01 01:08:46.4880,2020-03-01 01:10:51.2780,3272,Jersey & 3rd,40.723332,-74.045953,3278,Monmouth and 6th,40.725685,-74.048790,42376,Subscriber,1987,0
3,104,2020-03-01 01:22:35.4790,2020-03-01 01:24:20.2470,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,42350,Subscriber,1993,1
4,228,2020-03-01 01:39:20.2680,2020-03-01 01:43:09.1380,3194,McGinley Square,40.725340,-74.067622,3280,Astor Place,40.719282,-74.071262,42235,Subscriber,1988,1

In [3]:
#concat start station name and end station name to get unique paths
cols=['start station name','end station name']

frame['path_concat']=frame[cols].apply(lambda row: '_'.join(row.values.astype(str)), axis=1)

frame['path_concat'].head()

0       Newport PATH_Hamilton Park
1      City Hall_JC Medical Center
2    Jersey & 3rd_Monmouth and 6th
3       Newport PATH_Washington St
4      McGinley Square_Astor Place
Name: path_concat, dtype: object

In [7]:
frame

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,path_concat
0,389,2020-03-01 00:14:07.0000,2020-03-01 00:20:36.0880,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,42381,Subscriber,1992,1,Newport PATH_Hamilton Park
1,242,2020-03-01 00:48:06.4390,2020-03-01 00:52:08.9870,3185,City Hall,40.717733,-74.043845,3205,JC Medical Center,40.716540,-74.049638,42155,Subscriber,1991,1,City Hall_JC Medical Center
2,124,2020-03-01 01:08:46.4880,2020-03-01 01:10:51.2780,3272,Jersey & 3rd,40.723332,-74.045953,3278,Monmouth and 6th,40.725685,-74.048790,42376,Subscriber,1987,0,Jersey & 3rd_Monmouth and 6th
3,104,2020-03-01 01:22:35.4790,2020-03-01 01:24:20.2470,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,42350,Subscriber,1993,1,Newport PATH_Washington St
4,228,2020-03-01 01:39:20.2680,2020-03-01 01:43:09.1380,3194,McGinley Square,40.725340,-74.067622,3280,Astor Place,40.719282,-74.071262,42235,Subscriber,1988,1,McGinley Square_Astor Place
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
344325,1700,2021-04-30 23:55:22.9900,2021-05-01 00:23:43.6660,3202,Newport PATH,40.727224,-74.033759,3184,Paulus Hook,40.714145,-74.033552,39772,Customer,1970,0,Newport PATH_Paulus Hook
344326,1958,2021-04-30 23:55:50.6830,2021-05-01 00:28:28.7000,3677,Glenwood Ave,40.727551,-74.071061,3193,Lincoln Park,40.724605,-74.078406,32575,Customer,1970,0,Glenwood Ave_Lincoln Park
344327,877,2021-04-30 23:57:33.1520,2021-05-01 00:12:11.0930,3272,Jersey & 3rd,40.723332,-74.045953,3202,Newport PATH,40.727224,-74.033759,42495,Customer,1970,0,Jersey & 3rd_Newport PATH
344328,173,2021-04-30 23:59:38.4630,2021-05-01 00:02:31.8160,3276,Marin Light Rail,40.714584,-74.042817,3276,Marin Light Rail,40.714584,-74.042817,42470,Customer,1970,0,Marin Light Rail_Marin Light Rail
344329,174,2021-04-30 23:59:43.2470,2021-05-01 00:02:37.5830,3186,Grove St PATH,40.719586,-74.043117,3279,Dixon Mills,40.721630,-74.049968,39839,Customer,1970,0,Grove St PATH_Dixon Mills

In [8]:
frame['path_concat']=frame['path_concat'].str.replace(' ','-')
frame['path_concat']

0                Newport-PATH_Hamilton-Park
1               City-Hall_JC-Medical-Center
2             Jersey-&-3rd_Monmouth-and-6th
3                Newport-PATH_Washington-St
4               McGinley-Square_Astor-Place
                        ...
344325             Newport-PATH_Paulus-Hook
344326            Glenwood-Ave_Lincoln-Park
344327            Jersey-&-3rd_Newport-PATH
344328    Marin-Light-Rail_Marin-Light-Rail
344329            Grove-St-PATH_Dixon-Mills
Name: path_concat, Length: 344330, dtype: object

In [28]:
frame

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,path_concat
0,389,2020-03-01 00:14:07.0000,2020-03-01 00:20:36.0880,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,42381,Subscriber,1992,1,Newport-PATH_Hamilton-Park
1,242,2020-03-01 00:48:06.4390,2020-03-01 00:52:08.9870,3185,City Hall,40.717733,-74.043845,3205,JC Medical Center,40.716540,-74.049638,42155,Subscriber,1991,1,City-Hall_JC-Medical-Center
2,124,2020-03-01 01:08:46.4880,2020-03-01 01:10:51.2780,3272,Jersey & 3rd,40.723332,-74.045953,3278,Monmouth and 6th,40.725685,-74.048790,42376,Subscriber,1987,0,Jersey-&-3rd_Monmouth-and-6th
3,104,2020-03-01 01:22:35.4790,2020-03-01 01:24:20.2470,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,42350,Subscriber,1993,1,Newport-PATH_Washington-St
4,228,2020-03-01 01:39:20.2680,2020-03-01 01:43:09.1380,3194,McGinley Square,40.725340,-74.067622,3280,Astor Place,40.719282,-74.071262,42235,Subscriber,1988,1,McGinley-Square_Astor-Place
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
344325,1700,2021-04-30 23:55:22.9900,2021-05-01 00:23:43.6660,3202,Newport PATH,40.727224,-74.033759,3184,Paulus Hook,40.714145,-74.033552,39772,Customer,1970,0,Newport-PATH_Paulus-Hook
344326,1958,2021-04-30 23:55:50.6830,2021-05-01 00:28:28.7000,3677,Glenwood Ave,40.727551,-74.071061,3193,Lincoln Park,40.724605,-74.078406,32575,Customer,1970,0,Glenwood-Ave_Lincoln-Park
344327,877,2021-04-30 23:57:33.1520,2021-05-01 00:12:11.0930,3272,Jersey & 3rd,40.723332,-74.045953,3202,Newport PATH,40.727224,-74.033759,42495,Customer,1970,0,Jersey-&-3rd_Newport-PATH
344328,173,2021-04-30 23:59:38.4630,2021-05-01 00:02:31.8160,3276,Marin Light Rail,40.714584,-74.042817,3276,Marin Light Rail,40.714584,-74.042817,42470,Customer,1970,0,Marin-Light-Rail_Marin-Light-Rail
344329,174,2021-04-30 23:59:43.2470,2021-05-01 00:02:37.5830,3186,Grove St PATH,40.719586,-74.043117,3279,Dixon Mills,40.721630,-74.049968,39839,Customer,1970,0,Grove-St-PATH_Dixon-Mills

In [29]:
#convert frame to csv with path_concat column to use as relationship for origin-destination df
frame.to_csv('Data\CombinedData.csv')

In [30]:
#single out the columns needed
startStationDf=frame[['start station id', 'start station name','start station latitude','start station longitude','path_concat']]

startStationDf.head()

,start station id,start station name,start station latitude,start station longitude,path_concat
0,3202,Newport PATH,40.727224,-74.033759,Newport-PATH_Hamilton-Park
1,3185,City Hall,40.717733,-74.043845,City-Hall_JC-Medical-Center
2,3272,Jersey & 3rd,40.723332,-74.045953,Jersey-&-3rd_Monmouth-and-6th
3,3202,Newport PATH,40.727224,-74.033759,Newport-PATH_Washington-St
4,3194,McGinley Square,40.725340,-74.067622,McGinley-Square_Astor-Place

In [31]:
#insert origin-destination marker
startStationDf.insert(5,"Origin-Destination","Origin")
originDf=startStationDf
originDf.head()

,start station id,start station name,start station latitude,start station longitude,path_concat,Origin-Destination
0,3202,Newport PATH,40.727224,-74.033759,Newport-PATH_Hamilton-Park,Origin
1,3185,City Hall,40.717733,-74.043845,City-Hall_JC-Medical-Center,Origin
2,3272,Jersey & 3rd,40.723332,-74.045953,Jersey-&-3rd_Monmouth-and-6th,Origin
3,3202,Newport PATH,40.727224,-74.033759,Newport-PATH_Washington-St,Origin
4,3194,McGinley Square,40.725340,-74.067622,McGinley-Square_Astor-Place,Origin

In [32]:
#clean header data so can merge with destination
cleanOriginDf=originDf.rename(columns={
                "start station id":"station id",
                "start station name":"station name",
                "start station latitude":"station latitude",
                "start station longitude":"station longitude",
                    })
cleanOriginDf.head()

,station id,station name,station latitude,station longitude,path_concat,Origin-Destination
0,3202,Newport PATH,40.727224,-74.033759,Newport-PATH_Hamilton-Park,Origin
1,3185,City Hall,40.717733,-74.043845,City-Hall_JC-Medical-Center,Origin
2,3272,Jersey & 3rd,40.723332,-74.045953,Jersey-&-3rd_Monmouth-and-6th,Origin
3,3202,Newport PATH,40.727224,-74.033759,Newport-PATH_Washington-St,Origin
4,3194,McGinley Square,40.725340,-74.067622,McGinley-Square_Astor-Place,Origin

In [33]:
#single out the columns needed
endStationDf=frame[['end station id','end station name','end station latitude','end station longitude','path_concat']]
endStationDf.head()

,end station id,end station name,end station latitude,end station longitude,path_concat
0,3203,Hamilton Park,40.727596,-74.044247,Newport-PATH_Hamilton-Park
1,3205,JC Medical Center,40.716540,-74.049638,City-Hall_JC-Medical-Center
2,3278,Monmouth and 6th,40.725685,-74.048790,Jersey-&-3rd_Monmouth-and-6th
3,3638,Washington St,40.724294,-74.035483,Newport-PATH_Washington-St
4,3280,Astor Place,40.719282,-74.071262,McGinley-Square_Astor-Place

In [34]:
#insert destination marker
endStationDf.insert(5,"Origin-Destination","Destination")
destinationDf=endStationDf
destinationDf.head()

,end station id,end station name,end station latitude,end station longitude,path_concat,Origin-Destination
0,3203,Hamilton Park,40.727596,-74.044247,Newport-PATH_Hamilton-Park,Destination
1,3205,JC Medical Center,40.716540,-74.049638,City-Hall_JC-Medical-Center,Destination
2,3278,Monmouth and 6th,40.725685,-74.048790,Jersey-&-3rd_Monmouth-and-6th,Destination
3,3638,Washington St,40.724294,-74.035483,Newport-PATH_Washington-St,Destination
4,3280,Astor Place,40.719282,-74.071262,McGinley-Square_Astor-Place,Destination

In [35]:
#clean header data so can merge with origin
cleanDestinationDf=destinationDf.rename(columns={
                "end station id":"station id",
                "end station name":"station name",
                "end station latitude":"station latitude",
                "end station longitude":"station longitude",
                    })
cleanDestinationDf.head()

,station id,station name,station latitude,station longitude,path_concat,Origin-Destination
0,3203,Hamilton Park,40.727596,-74.044247,Newport-PATH_Hamilton-Park,Destination
1,3205,JC Medical Center,40.716540,-74.049638,City-Hall_JC-Medical-Center,Destination
2,3278,Monmouth and 6th,40.725685,-74.048790,Jersey-&-3rd_Monmouth-and-6th,Destination
3,3638,Washington St,40.724294,-74.035483,Newport-PATH_Washington-St,Destination
4,3280,Astor Place,40.719282,-74.071262,McGinley-Square_Astor-Place,Destination

In [36]:
#drop duplicates in path_concat to get individual 
ddStartDf=cleanOriginDf.drop_duplicates(subset=['path_concat'],keep='last',ignore_index=False)
ddStartDf

,station id,station name,station latitude,station longitude,path_concat,Origin-Destination
703,3276,Marin Light Rail,40.714584,-74.042817,Marin-Light-Rail_Pier-40---Hudson-River-Park,Origin
734,3281,Leonard Gordon Park,40.745910,-74.057271,Leonard-Gordon-Park_Columbus-Drive,Origin
6141,3677,Glenwood Ave,40.727551,-74.071061,Glenwood-Ave_Essex-Light-Rail,Origin
8579,3206,Hilltop,40.731169,-74.057574,Hilltop_W-129-St-&-Convent-Ave,Origin
18447,3694,Jackson Square,40.711130,-74.078900,Jackson-Square_Monmouth-and-6th,Origin
...,...,...,...,...,...,...
344325,3202,Newport PATH,40.727224,-74.033759,Newport-PATH_Paulus-Hook,Origin
344326,3677,Glenwood Ave,40.727551,-74.071061,Glenwood-Ave_Lincoln-Park,Origin
344327,3272,Jersey & 3rd,40.723332,-74.045953,Jersey-&-3rd_Newport-PATH,Origin
344328,3276,Marin Light Rail,40.714584,-74.042817,Marin-Light-Rail_Marin-Light-Rail,Origin
344329,3186,Grove St PATH,40.719586,-74.043117,Grove-St-PATH_Dixon-Mills,Origin

In [37]:
# #drop duplicates in path_concat to get individual 
ddEndDf=cleanDestinationDf.drop_duplicates(subset=['path_concat'],keep='last',ignore_index=False)

ddEndDf

,station id,station name,station latitude,station longitude,path_concat,Origin-Destination
703,3256,Pier 40 - Hudson River Park,40.727714,-74.011296,Marin-Light-Rail_Pier-40---Hudson-River-Park,Destination
734,3275,Columbus Drive,40.718355,-74.038914,Leonard-Gordon-Park_Columbus-Drive,Destination
6141,3214,Essex Light Rail,40.712774,-74.036486,Glenwood-Ave_Essex-Light-Rail,Destination
8579,3649,W 129 St & Convent Ave,40.814394,-73.953247,Hilltop_W-129-St-&-Convent-Ave,Destination
18447,3278,Monmouth and 6th,40.725685,-74.048790,Jackson-Square_Monmouth-and-6th,Destination
...,...,...,...,...,...,...
344325,3184,Paulus Hook,40.714145,-74.033552,Newport-PATH_Paulus-Hook,Destination
344326,3193,Lincoln Park,40.724605,-74.078406,Glenwood-Ave_Lincoln-Park,Destination
344327,3202,Newport PATH,40.727224,-74.033759,Jersey-&-3rd_Newport-PATH,Destination
344328,3276,Marin Light Rail,40.714584,-74.042817,Marin-Light-Rail_Marin-Light-Rail,Destination
344329,3279,Dixon Mills,40.721630,-74.049968,Grove-St-PATH_Dixon-Mills,Destination

In [38]:
frames1=[ddStartDf, ddEndDf]
indexDf=pd.concat(frames1)
indexDf

,station id,station name,station latitude,station longitude,path_concat,Origin-Destination
703,3276,Marin Light Rail,40.714584,-74.042817,Marin-Light-Rail_Pier-40---Hudson-River-Park,Origin
734,3281,Leonard Gordon Park,40.745910,-74.057271,Leonard-Gordon-Park_Columbus-Drive,Origin
6141,3677,Glenwood Ave,40.727551,-74.071061,Glenwood-Ave_Essex-Light-Rail,Origin
8579,3206,Hilltop,40.731169,-74.057574,Hilltop_W-129-St-&-Convent-Ave,Origin
18447,3694,Jackson Square,40.711130,-74.078900,Jackson-Square_Monmouth-and-6th,Origin
...,...,...,...,...,...,...
344325,3184,Paulus Hook,40.714145,-74.033552,Newport-PATH_Paulus-Hook,Destination
344326,3193,Lincoln Park,40.724605,-74.078406,Glenwood-Ave_Lincoln-Park,Destination
344327,3202,Newport PATH,40.727224,-74.033759,Jersey-&-3rd_Newport-PATH,Destination
344328,3276,Marin Light Rail,40.714584,-74.042817,Marin-Light-Rail_Marin-Light-Rail,Destination
344329,3279,Dixon Mills,40.721630,-74.049968,Grove-St-PATH_Dixon-Mills,Destination

In [39]:
#verify that the index match before resetting so they are matched between the 
sortedODDf=indexDf.sort_values(['path_concat','Origin-Destination'], ascending=[True,False])
sortedODDf

,station id,station name,station latitude,station longitude,path_concat,Origin-Destination
338846,3220,5 Corners Library,40.734961,-74.059503,5-Corners-Library_5-Corners-Library,Origin
338846,3220,5 Corners Library,40.734961,-74.059503,5-Corners-Library_5-Corners-Library,Destination
248573,3220,5 Corners Library,40.734961,-74.059503,5-Corners-Library_Astor-Place,Origin
248573,3280,Astor Place,40.719282,-74.071262,5-Corners-Library_Astor-Place,Destination
333121,3220,5 Corners Library,40.734961,-74.059503,5-Corners-Library_Baldwin-at-Montgomery,Origin
...,...,...,...,...,...,...
310935,3187,Warren St,40.721124,-74.038051,York-St_Warren-St,Destination
319335,3481,York St,40.716490,-74.041050,York-St_Washington-St,Origin
319335,3638,Washington St,40.724294,-74.035483,York-St_Washington-St,Destination
321447,3481,York St,40.716490,-74.041050,York-St_York-St,Origin
321447,3481,York St,40.716490,-74.041050,York-St_York-St,Destination

In [40]:
# reset index
sortedResetDf=sortedODDf.reset_index()
sortedResetDf

,index,station id,station name,station latitude,station longitude,path_concat,Origin-Destination
0,338846,3220,5 Corners Library,40.734961,-74.059503,5-Corners-Library_5-Corners-Library,Origin
1,338846,3220,5 Corners Library,40.734961,-74.059503,5-Corners-Library_5-Corners-Library,Destination
2,248573,3220,5 Corners Library,40.734961,-74.059503,5-Corners-Library_Astor-Place,Origin
3,248573,3280,Astor Place,40.719282,-74.071262,5-Corners-Library_Astor-Place,Destination
4,333121,3220,5 Corners Library,40.734961,-74.059503,5-Corners-Library_Baldwin-at-Montgomery,Origin
...,...,...,...,...,...,...,...
5457,310935,3187,Warren St,40.721124,-74.038051,York-St_Warren-St,Destination
5458,319335,3481,York St,40.716490,-74.041050,York-St_Washington-St,Origin
5459,319335,3638,Washington St,40.724294,-74.035483,York-St_Washington-St,Destination
5460,321447,3481,York St,40.716490,-74.041050,York-St_York-St,Origin
5461,321447,3481,York St,40.716490,-74.041050,York-St_York-St,Destination

In [51]:
#need to add in the dash between string values in station name for Tableau formula to work
sortedResetDf['station name']=sortedResetDf['station name'].str.replace(' ','-')

In [52]:
#drop 0 value lat/long as error occured
droperrordf=sortedResetDf[sortedResetDf['station latitude']!=0]

In [53]:
#count to verify values dropped by 2. sortedresetdf 5462 rows, count here 5460 
droperrordf.count()

index                 5460
station id            5460
station name          5460
station latitude      5460
station longitude     5460
path_concat           5460
Origin-Destination    5460
dtype: int64

In [55]:
#verify df layout is as desired
droperrordf

,index,station id,station name,station latitude,station longitude,path_concat,Origin-Destination
0,338846,3220,5-Corners-Library,40.734961,-74.059503,5-Corners-Library_5-Corners-Library,Origin
1,338846,3220,5-Corners-Library,40.734961,-74.059503,5-Corners-Library_5-Corners-Library,Destination
2,248573,3220,5-Corners-Library,40.734961,-74.059503,5-Corners-Library_Astor-Place,Origin
3,248573,3280,Astor-Place,40.719282,-74.071262,5-Corners-Library_Astor-Place,Destination
4,333121,3220,5-Corners-Library,40.734961,-74.059503,5-Corners-Library_Baldwin-at-Montgomery,Origin
...,...,...,...,...,...,...,...
5457,310935,3187,Warren-St,40.721124,-74.038051,York-St_Warren-St,Destination
5458,319335,3481,York-St,40.716490,-74.041050,York-St_Washington-St,Origin
5459,319335,3638,Washington-St,40.724294,-74.035483,York-St_Washington-St,Destination
5460,321447,3481,York-St,40.716490,-74.041050,York-St_York-St,Origin
5461,321447,3481,York-St,40.716490,-74.041050,York-St_York-St,Destination

In [56]:
#save to csv
droperrordf.to_csv('Data/map_lines.csv')